/* component_buttons: */
// common styles
%rounded_button {

    background-color: $nickel;
    border: none;
    color:$white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 4px 2px;
    border-radius: 30px;
    cursor: pointer;

    &:hover {background-color: $fuzzy_wuzzy;}
    &:focus {background-color: $raisin_black;}
}



// Button
.barber_shop_button {
    &--medium {@extend %rounded_button;}
    &--small {@extend %rounded_button;}
}


