/* abstracts_variables loaded */
//Colors
$white: #fff; 
$platinium: #e6e7e7;
$light_gray: #d1d1d1;
$fuzzy_wuzzy: #e56353;
$ruddy_pink: #d76c69;
$spanish_pink: #ecbcba;
$eerie_black: #121619;
$raisin_black: #222323;
$nickel: #6C6E70;

//Fonts
$font_modern: 'Roboto', sans-serif;
$font_classic: 'Playfair Display', serif;

$font_xx_large: 70px;
$font_x_large: 30px;
$font_large: 18px;
$font_medium: 16px; 
$font_small: 12px;

$font_light: 300;
$font_normal: 400;
$font_bold: 900; 

$font_regular: normal;
$font_italic: italic;

//Links
$link_primary_scheme: $spanish_pink;
$link_secondary_scheme: $raisin_black;
$link_light_scheme: $platinium;
$link_dark_scheme: $eerie_black;
