/* layout_header: */
.header {
    background-image: url('../img/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 727px;
}

.hero_content{
    text-align: center;
    &__title {
        @include barber_shop_font ($family: $font_classic, $size: $font_xx_large, $weight: $font_regular, $style: $font_italic);
        color:$platinium; 
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        }
    &__arrow {
        color: $platinium;
        padding-bottom: 20px;
        font-weight: lighter;
    }
}